p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

body {
    background-image: linear-gradient(#222337, #20213f, #595ca0);
    /*background-image: radial-gradient(circle, #343760, #222337);*/
}

main {
    padding: 20px;
}

h2 {
    font-family: sans-serif;
    color:aliceblue;
}

nav button {
    outline: auto;
    outline-color:aliceblue;
    outline-width: 1px; 
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#left-btn {
    background-image: linear-gradient(to right, #222337, #20213f, #595ca0);
}

#right-btn {
    background-image: linear-gradient(to left, #222337, #20213f, #595ca0);
}

#mid-btn {
    background-image: radial-gradient(circle, #595ca0, #222337);
}

#left-btn:hover {
    background-image: linear-gradient(to right, #343654, #42447d, #9094df);
    box-shadow: 0 2px 15px 0 rgb(221, 202, 255), 0 2px 15px 0 rgb(221, 202, 255);

}

#right-btn:hover {
    background-image: linear-gradient(to left, #343654, #42447d, #9094df);
    box-shadow: 0 2px 15px 0 rgb(221, 202, 255), 0 2px 15px 0 rgb(221, 202, 255);

}

#mid-btn:hover {
    background-image: radial-gradient(circle, #9094df, #343254);
    box-shadow: 0 2px 15px 0 rgb(221, 202, 255), 0 2px 15px 0 rgb(221, 202, 255);

}

/*nav button:active {
    background-color: #7272b3;
    box-shadow: 0 4px 30px 0 rgb(255, 255, 255), 0 4px 30px 0 rgb(255, 255, 255);
}*/

.btn-txt {
    color: aliceblue;
    font-family: sans-serif;
    font-size:medium;
}

#other-inf {
    color: aliceblue;
}

button > a {
    text-decoration: none;
}

h2 + div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    background-color: #2e2e49;
    border-radius: 15px;
}

h2 + div > p {
    text-align: center;
    font-size: larger;

}

h2 {
    text-align: center;
}

.space {
    height: 50px;
}

footer {
    
    box-shadow: 0px 0px 20px #8888d5;
    border-radius: 20px;
}

footer > article {
    transform: translateY(-25%);
}

video {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

video:hover {
    box-shadow: 0 2px 40px 0 rgb(221, 202, 255), 0 2px 40px 0 rgb(221, 202, 255);
}