p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

body {
    background-color:#222337;
}

main {
    padding: 20px;
}

h2 {
    font-family: sans-serif;
    color:aliceblue;
}

nav button {
    background-color:#2e2e49;
    outline: auto;
    outline-color:aliceblue;
    outline-width: 1px; 
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

nav button:hover {
    background-color: #494973;
    box-shadow: 0 2px 15px 0 rgb(221, 202, 255), 0 2px 15px 0 rgb(221, 202, 255);

}

/*nav button:active {
    background-color: #7272b3;
    box-shadow: 0 4px 30px 0 rgb(255, 255, 255), 0 4px 30px 0 rgb(255, 255, 255);
}*/

.btn-txt {
    color: aliceblue;
    font-family: sans-serif;
    font-size:medium;
}

#other-inf {
    color: aliceblue;
}

button > a {
    text-decoration: none;
}

h2 + div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    background-color: #2e2e49;
    border-radius: 15px;
}

h2 + div > p {
    text-align: center;
    font-size: larger;

}

h2 {
    text-align: center;
}

.space {
    height: 50px;
}

footer {
    box-shadow: 0px 0px 20px #62629a;
    border-radius: 20px;
}

footer > article {
    transform: translateY(-25%);
}

video {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

video:hover {
    box-shadow: 0 2px 40px 0 rgb(221, 202, 255), 0 2px 40px 0 rgb(221, 202, 255);
}